.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  &__buttons {
    display: flex;
    align-items: center;
    &_left {
      gap: 20px;
    }
  }
}

.navigation-bar__button-enter-active, .navigation-bar__button-leave-active {
  transition: opacity 0.5s;
}
.navigation-bar__button-enter, .navigation-bar__button-leave-to {
  opacity: 0;
}